.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  width: 1024px;
  height: 768px;
  background-color: aquamarine;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -384px;
}

#mapContainer{
  position: relative;
  display: inline-block;
}

#resetButton{
  position: absolute;
  z-index: 2;
  right: 0;
  margin: 30px 30px auto auto;
  cursor: pointer;
}